<div class="card">
    <div class="card-header">
      <table>
        <tr>
          <td>
            <h2>Calendário</h2>    
          </td>
          <td style="text-align: right;">
            <a href="/calendar/new" class="btn palette-Light-Green bg btn-float waves-effect waves-circle"><i class="zmdi zmdi-plus"></i></a>
          </td>
        </tr>
      </table>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Circuito</th>
                    <th>Pais</th>
                    <th>Inicio</th>
                    <th>Fim</th>
                    <th colspan="2">Ações</th>
                </tr>
            </thead>
            <tbody>
              <% _.each(calendars, function(calendar){ %>
                <tr>
                    <td><%=calendar.id%></td>
                    <td><%=calendar.descricao%></td>
                    <td><%=calendar.categoria%></td>
                    <td><%=calendar.circuito.nome%></td>
                    <td><span class="flag-icon flag-icon-<%=calendar.circuito.pais%>"></span></td>
                    <td><%=calendar.dtinicio%></td>
                    <td><%=calendar.dtfim%></td>
                    <td width="1px">
                      <a href="/calendar/edit/<%=calendar.id%>" class="btn palette-Light-Blue btn-icon bg waves-effect waves-circle waves-float">
                        <i class="zmdi zmdi-edit"></i>
                      </a>
                    </td>
                    <td width="1px">
                      <button class="btn palette-Deep-Orange btn-icon bg waves-effect waves-circle waves-float" id="sa-<%=calendar.id%>">
                        <i class="zmdi zmdi-delete"></i>
                      </button>

                      <script type="text/javascript">
                      $(document).ready(function() {
                        //Warning Message
                          $('#sa-<%=calendar.id%>').click(function(){
                              swal({
                                  title: "Atenção!",
                                  text: "Deseja realmente excluir o registro?",
                                  type: "warning",
                                  showCancelButton: true,
                                  confirmButtonColor: "#DD6B55",
                                  confirmButtonText: "Sim, excluir!",
                                  closeOnConfirm: false
                              }, function(isConfirm){
                                  if (isConfirm) {
                                    window.location.replace("/calendar/destroy/<%=calendar.id%>");
                                  }
                              });
                          });
                        });
                      </script>
                    </td>
                </tr>
              <%})%>
            </tbody>
        </table>
    </div>
</div>