<div class="card">
    <div class="card-header">
        <h2>Cadastro de circuito</h2>
    </div>

    <div class="card-body card-padding">
      <form method="post" action="/circuito/update">
        <input type="text" hidden name="id" value="<%= circuito.id %>">
        <div class="form-group fg-float">
            <div class="fg-line">
                <input type="text" class="form-control fg-input" name="nome" value="<%= circuito.nome %>">
                <label class="fg-label">Nome</label>
            </div>
        </div>

        <div class="form-group fg-float">
            <div class="fg-line">
                <div class="col-sm-3 m-b-15">
                    <p class="f-500 c-black m-b-15">País</p>
                    <select class="chosen" style="display: none;" name="pais">
                      <% _.each(paises, function(pais){ %>
                        <% if (circuito.pais == pais.alpha2.toLowerCase() ) {%>
                          <option value="<%=pais.alpha2.toLowerCase() %>" selected ><%=pais.langen %></option>
                        <% }else{ %>
                          <option value="<%=pais.alpha2.toLowerCase() %>"><%=pais.langen %></option>
                        <% } %>
                      <%})%>
                    </select>
                </div>
            </div>
        </div>

        
        <div class="form-group fg-float">
            <div class="fg-line">
                <input type="text" class="form-control fg-input" name="link_localizacao" value="<%= circuito.link_localizacao %>">
                <label class="fg-label">Localização</label>
            </div>
        </div>

        <div class="form-group">
          <div class="col-md-10 col-md-offset-2">
          <a class="btn btn-default btn-lg waves-effect" href="/circuito">Cancelar</a>
          <button class="btn palette-Teal btn-lg bg waves-effect" type="submit">Salvar</button>
          </div>
        </div>
      </form>
      <br>
    </div>
</div>